@page "/configure-relations"
@rendermode InteractiveServer

<PageTitle>Configure Relations</PageTitle>


<h3>Configure Relations</h3>

<div>
    <button @onclick="FetchData">Fetch Relations</button>
</div>


<div>
    @if(relations != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Max Trades</th>
                    <th>Asset</th>
                    <th>Broker</th>
                    <th>Strategy</th>
                    <th>Configure</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var relation in relations)
                {
                    <tr>
                        <td>
                            @if (IsEditing)
                            {
                                <input type="number" @bind="relation.MaxTrades" />
                            }
                            else
                            {
                                @relation.MaxTrades
                            }
                        </td>
                        <td>@relation.Asset</td>
                        <td>@relation.Broker</td>
                        <td>@relation.Strategy</td>
                        <td>
                            @if (IsEditing)
                            {
                                <button @onclick="() => UpdateRelation(relation)">Save</button>
                            }
                            else
                            {
                                <button @onclick="() => EditRelation()">Edit</button>
                            }
                        </td>
                        <button @onclick="() => DeleteRelation(relation)">DELETE</button>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>