@page "/configure-smt"
@rendermode InteractiveServer


<h3>Configure SMT Pairs</h3>

<div>
    <button @onclick="FetchData">Fetch SMT Pairs</button>
</div>


<div>
    @if(smtPair != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Corraltion</th>
                    <th>Asset 1</th>
                    <th>Asset 2</th>
                    <th>Strategy</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var pair in smtPair)
                {
                    <tr>
                        <td>@pair.Correlation</td>
                        <td>@pair.AssetA</td>
                        <td>@pair.AssetB</td>
                        <td>@pair.Strategy</td>
                        <td>
                            <button @onclick="() => DeleteAsset(pair)">DELETE</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>